* {
    margin: 0;
    padding: 0;
}

div {
    margin: 0 auto;
}

button.card {
    all: unset;
    cursor: pointer; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

button.card.expandido {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    background-color: #fff;
}

.descricao {
    display: flex;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.ampliada {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 300px;
    height: auto;
    margin-top: 10px;
    border-radius: 10px;
}

figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px; 
    height: 200px; 
    border: 1px solid black;
    background-color: #f0f0f0; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

img {
    width: 60%; 
    height: 60%; 
    object-fit: cover;  
}

figcaption {
    font-size: 1em; 
    font-weight: bold;
    color: #666;
    width: 100%;
}
